
// Comment Item

.comment-item {
    width: 100%;
    margin: 1rem 0;
    border: 1px solid rgba(147, 146, 146, 0.473);
    border-radius: 12px;
    background-color: rgba(207, 222, 224, 0.352);

    .comment-item-content {
        font-size: 1.1em;
        padding: 0.5rem 1rem;
        color: black;
        letter-spacing: 1px;
    }

    .comment-item-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .comment-item-user {
        width: 100%;
        text-align: end;
        font-size: 0.7em;
        color: grey;
        margin-right: 1rem;
    }

    .comment-item-username {
        font-size: 0.9em;
        color: black;
        font-weight: 700;
    }

    .comment-item-actions {
        width: 95%;
        display: flex;

        .comment-item-action {
            font-size: 0.9em;
            margin: 0 0.5rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
                transform: scale(1.1);
            }
        }

        .reply {
            color: $blue;
        }

        .replies {
            color: $green;
        }
    }
}

// Comment Form

.comment-form-container {
    margin: 0.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid grey;

    .comment-form-btn {
        width: 20%;
        font-size: 1.1em;
        background-color: $blue;
        color: white;
        border-radius: 3px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
            transform: scale(1.1);
        }
    }
}

// Comment Comment Item

.comment-comment-item {
    width: 90%;
    float: right;
    margin: 0.1rem;
    padding: 1rem;
    background-color: rgba(184, 207, 249, 0.404);
    border: 1px solid rgba(147, 146, 146, 0.473);
    border-radius: 6px;

    .comment-comment-content {
        font-size: 0.9em;
        color: black;
        letter-spacing: 1px;
    }
}